body
{
	margin: 0;
	padding: 0;
}
.container
{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.slider
{
	position: relative;
	width: 500%;
	animation: animate 10s linear infinite;
}

.slide {
	position: relative;
	width:20%;
	float: left;
	height: 100vh;
}

h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 2em;
	margin-left: 40%;
	width: 25%;
	background: rgba(0,0,0,.6);
	border-radius: 100% 60%;
	color: #fff;
	font-family: cursive;
}

.slide{
	background-size: cover;
}
.slide:nth-child(1) {
	/* opacity: 0.5; */
	background: url(1.jpg);
}
.slide:nth-child(2) {
	background: url(2.jpg);
}
.slide:nth-child(3) {
	background: url(3.jpg);
}
.slide:nth-child(4) {
	background: url(4.jpg);
}
.slide:nth-child(5) {
	background: url(5.jpg);
}

@keyframes animate {
	0%{
		left:0;
	}
	16%{
		left:0;
	}
	20%{
		left:-100%;
	}
	30%{
		left:-100%;
	}
	36%{
		left:-100%;
	}
	40%{
		left:-200%;
	}
	56%{
		left:-200%;
	}
	60%{
		left:-300%;
	}
	76%{
		left:-300%;
	}
	80%{
		left:-400%;
	}
	96%{
		left:-400%;
	}
	100%{
		left:-0;
	}
}

#myLogo {
  position: fixed;
  top: 10;
  left: 5;
}

ul {
	/* background-color: red; */
	position:relative;
	z-index:9999;
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: -15px;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
}

ul li a:hover {
  background-color: #f7f7f7;
}
ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
  margin-right: 0px;
}

/* Main Page slogan */
#slogan {
  text-align: center;
  color: black;
  font-size: 50px;
}

#sloganUnderText {
  text-align: center;
  color: #000033;
  font-size: 30px;
}

.letter {
    text-align: center;
    color: lightblue;
    position: relative;
    top: 10px;
    text-shadow: 0px 0px 3px black;
    font-size: 30px;
    font-weight: bold;
}
.letter:nth-child(1) {
    text-align: center;
    animation: fade 5s infinite 200ms;
}
.letter:nth-child(2) {
    text-align: center;
    animation: fade 5s infinite 400ms;
}
.letter:nth-child(3) {
    text-align: center;
    animation: fade 5s infinite 600ms;
}
.letter:nth-child(4) {
    text-align: center;
    animation: fade 5s infinite 800ms;
}
.letter:nth-child(5) {
    margin-left: 20%;
    text-align: center;
    animation: fade 5s infinite 1000ms;
}
.letter:nth-child(6) {
    text-align: center;
    animation: fade 5s infinite 1200ms;
}
.letter:nth-child(7) {
    text-align: center;
    animation: fade 5s infinite 1400ms;
}
.letter:nth-child(8) {
    animation: fade 5s infinite 1600ms;
    text-align: center;
}
.letter:nth-child(9) {
    text-align: center;
    animation: fade 5s infinite 1800ms;
}
.letter:nth-child(10) {
    text-align: center;
    animation: fade 5s infinite 2000ms;
}
.letter:nth-child(11) {
    text-align: center;
    animation: fade 5s infinite 2200ms;
}
.letter:nth-child(12) {
    text-align: center;
    animation: fade 5s infinite 2400ms;
}
.letter:nth-child(13) {
    text-align: center;
    animation: fade 5s infinite 2600ms;
}
.letter:nth-child(14) {
    text-align: center;
    animation: fade 5s infinite 2800ms;
}
.letter:nth-child(15) {
    text-align: center;
    animation: fade 5s infinite 3000ms;
}
.letter:nth-child(16) {
    animation: fade 5s infinite 3200ms;
}
.letter:nth-child(17) {
    animation: fade 5s infinite 3400ms;
}
.letter:nth-child(18) {
    animation: fade 5s infinite 3600ms;
}

@keyframes fade {
50% {
   opacity: 0.02;
  }
}
